@import './styles/animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  min-width: 320px;
  background-color: #fafafa;
  color: #171717;
}

.container {
  @apply mx-auto w-full max-w-7xl px-4;
}

::selection {
  background: #dbeafe;
}
